<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="sqliteUrl" connectionString="data source=E:\code\C#\winform\OrderingManagementSystem\OmsDal\db\ItcastCater.db;version=3;"/>
	</connectionStrings>
</configuration>